/****** Object:  Table [dbo].[CmsAsset]    Script Date: 1/13/2026 11:16:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CmsAsset](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[PageId] [int] NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](20) NOT NULL,
	[Version] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CmsPage]    Script Date: 1/13/2026 11:16:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CmsPage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[ContentHtml] [nvarchar](max) NULL,
	[SidebarContentHtml] [nvarchar](max) NULL,
	[LayoutView] [nvarchar](100) NOT NULL,
	[MetaTitle] [nvarchar](200) NULL,
	[MetaDescription] [nvarchar](500) NULL,
	[CustomCss] [nvarchar](max) NULL,
	[CustomJs] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Version] [int] NOT NULL,
	[PublishedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CmsAsset] ON 

INSERT [dbo].[CmsAsset] ([Id], [CompanyId], [PageId], [FileName], [FilePath], [FileType], [Version], [IsActive], [CreatedAt]) VALUES (1, 1, 4, N'landing-style.css', N'/uploads/cms/1/css/landing-style_639038718112220589.css', N'CSS', 1, 1, CAST(N'2026-01-13T03:30:11.233' AS DateTime))
INSERT [dbo].[CmsAsset] ([Id], [CompanyId], [PageId], [FileName], [FilePath], [FileType], [Version], [IsActive], [CreatedAt]) VALUES (2, 1, 4, N'countdown.js', N'/uploads/cms/1/js/countdown_639038718112181347.js', N'JS', 1, 1, CAST(N'2026-01-13T03:30:11.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[CmsAsset] OFF
GO
SET IDENTITY_INSERT [dbo].[CmsPage] ON 

SET IDENTITY_INSERT [dbo].[CmsPage] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CmsPage_Slug_CompanyId]    Script Date: 1/13/2026 11:16:33 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CmsPage_Slug_CompanyId] ON [dbo].[CmsPage]
(
	[Slug] ASC,
	[CompanyId] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CmsAsset] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[CmsAsset] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CmsAsset] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CmsPage] ADD  DEFAULT ('_CmsBlank') FOR [LayoutView]
GO
ALTER TABLE [dbo].[CmsPage] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CmsPage] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[CmsPage] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CmsAsset]  WITH CHECK ADD  CONSTRAINT [FK_CmsAsset_CmsPage] FOREIGN KEY([PageId])
REFERENCES [dbo].[CmsPage] ([Id])
GO
ALTER TABLE [dbo].[CmsAsset] CHECK CONSTRAINT [FK_CmsAsset_CmsPage]
GO
